/* * GLOBAL STYLES * */
body {
  margin: 0;
  min-height: 100vh;
  color: #0f172a;
}

h1 {
  font-size: 3rem;
  margin: 0 0 0.5em 0;
  padding-top: 1.5em;
  color: #e0f2fe;
}

/* * PAGE STYLES * */
.container {
  text-align: center;
  background: url("./images/night-sky_bg.jpg") no-repeat center/cover;
  min-height: 100vh;
  width: 100vw;
}

.btn {
  background-color: #e0f2fe;
  color: #0369a1;
  margin: 12px 8px;
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #60a5fa;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(275px, 50%, 700px);
  margin: 0 auto;

  transition: 500ms cubic-bezier(0.17, 0.67, 0.35, 1.6) opacity;
}

input {
  padding: 0.5em 1.25em;
  font-size: 1.25rem;
  border-radius: 8px;
  width: 100%;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.35, 1.6) all;
}

.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: 300s east opacity;
}

body.focus-form form {
  transform: scale(1.1);
}
body.focus-form .link-input {
  padding: 0.75em 1.5em;
  font-size: 1.5rem;
}
body.focus-form .overlay {
  opacity: 1;
}

/* * HELPER STYLES * */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
input:focus {
  outline: 3px solid #e11d48;
}
