.p1 {
  color: rgb(0, 0, 0);
  background-color: #5f76f7;
}

.p2 {
  color: rgb(219, 219, 219);
  background-color: #773d07;
}

.p3 {
  color: rgb(0, 0, 0);
  background-color: #91bda7;
}

.p4 {
  color: rgb(94, 4, 4);
  background-color: #e9c77e;
}

